@font-face {
  font-family: 'Bebas';
  src: url('../fonts/Bebas.woff2') format('woff2'),
  url('../fonts/Bebas.woff') format('woff'),
  url('../fonts/Bebas.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Light.woff2') format('woff2'),
  url('../fonts/HelveticaNeue-Light.woff') format('woff'),
  url('../fonts/HelveticaNeue-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.woff2') format('woff2'),
  url('../fonts/HelveticaNeue.woff') format('woff'),
  url('../fonts/HelveticaNeue.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.ul-default {
  list-style: none;
  margin: 0;
  padding: 0;
}

.color-black {
  color: #000;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper {
  background-image: url("../images/bg.png");
}

/* Header */

.header__inner {
  display: flex;
  height: 80px;
  justify-content: space-between;
  font-family: 'Bebas', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.header__logo {
  align-self: center;
}

.header__menu {
  padding-top: 35px;
}


.logo__link {
  font-size: 36px;
  text-transform: uppercase;
  color: #f3af9d;
}

.logo__link > span {
  color: #e8603c;
}

.logo_img {
  width: 87px;
  height: 34px;
}

.menu__item {
  display: inline-block;
  margin-left: 26px;
}

.menu__item:first-child {
  margin-left: 0;
}

.menu__link {
  font-size: 16px;
  text-transform: uppercase;
  color: #b9b9b9;
  transition: color .3s;
}

.menu__link:hover {
  color: #e8603c;
}

/* Slider */

.slider {
  display: flex;
  margin-bottom: 38px;
}

.slider::before {
  content: '';
  display: block;
  height: 61px;
  flex-grow: 1;
  background-color: #f3af9d;
}

.slider::after {
  content: '';
  display: block;
  height: 61px;
  flex-grow: 1;
  background-color: #f3af9d;
}

.slider__image {
  position: relative;
  min-height: 400px;
  background-image: url("../images/slider-bg.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 18px;
  pointer-events: none;
}

/* Arrows */
.slider__image::before {
  content: '';
  position: absolute;
  top: 43%;
  left: 43px;
  border: solid white;
  border-width: 15px 0 0 15px;
  display: inline-block;
  padding: 12px;
  transform: rotate(-45deg);
  cursor: pointer;
  pointer-events: auto;
}

.slider__image::after {
  content: '';
  position: absolute;
  top: 43%;
  right: 43px;
  border: solid white;
  border-width: 0 15px 15px 0;
  display: inline-block;
  padding: 12px;
  transform: rotate(-45deg);
  cursor: pointer;
  pointer-events: auto;
}

.slider__description {
  position: absolute;
  bottom: 24px;
  left: 36px;
  width: 414px;
  max-height: 124px;
  padding: 22px 18px;
  color: #fff;
  background-color: rgba(232, 102, 60, .8);
}

.slider__title {
  font-family: 'Bebas', sans-serif;
  font-size: 18px;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.slider__text {
  font-family: 'HelveticaNeue', serif;
  font-size: 12px;
}

/* Slick Library*/
.slider-nav .slick-list .slick-track .slick-slide {
  width: 140px !important;
  margin-right: 20px;
}

.slider-nav .slick-list .slick-track .slick-slide:last-child {
  margin-right: 0;
}

/* Offers */

.features {
  margin-bottom: 42px;
}

.features__inner {
  display: flex;
  justify-content: space-between;
}

.feature {
  max-width: 300px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.feature__header {
  display: flex;
  align-items: center;
  margin-bottom: 34px;
}

.feature__icon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.feature__title {
  font-family: 'Bebas', sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #e8663c;
  text-align: left;
}

.feature__content {
  font-family: 'HelveticaNeue', serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: #414141;
  min-height: 115px;
  margin-bottom: 12px;
}

.feature__btn {
  display: inline-block;
  padding: 10px 16px 10px 12px;
  font-family: 'Bebas', serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #e8663c;
}

.feature__btn a {
  color: #fff;
}

/* Recent works */

.works {
  margin-bottom: 46px;
}

.works__header {
  font-size: 18px;
  line-height: 15px;
  color: #e8603c;
  font-family: "Bebas", serif;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  margin-bottom: 20px;
}

.works__header::after {
  content: '';
  vertical-align: bottom;
  height: 18px;
  margin-left: 20px;
  flex-grow: 1;
  opacity: 25%;
  background-image:
      linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
      linear-gradient(-45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
  background-size: 2px 2px;
}

.works__inner {
  display: flex;
  justify-content: space-between;
}

.work {
  width: 220px;
}

.work__image {
  height: 183px;
}

.work__description {
  padding: 14px 0 0 14px;
  border: 1px solid #dbdbdb;
  border-top: none;
}

.work__title {
  margin-bottom: 6px;
  font-family: 'Bebas', serif;
  font-size: 16px;
  line-height: 18px;
  white-space: pre-wrap;
  color: #b9b9b9;
  text-transform: uppercase;
}

.work__date {
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Bebas', serif;
  font-size: 11px;
  line-height: 11px;
  color: #e8663c;
  text-transform: uppercase;
}

/* Footer */
.footer {
  /*background-color: aquamarine;*/
  min-height: 262px;
  display: flex;
}

.footer::before {
  content: '';
  flex-grow: 1;
  background-color: #f3af9d;
}

.footer::after {
  content: '';
  flex-grow: 1;
  background-color: #f3af9d;
}

.footer-container {
  display: flex;
  flex: 1000;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  background-color: #e8663c;
  flex: 1;
  padding-top: 36px;
  padding-left: 34px;
  padding-bottom: 32px;
}

.footer__item {
  width: 290px;
}

.footer__item-title {
  font-family: 'Bebas', serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 26px;
  white-space: pre-wrap;
}

.footer__item-content {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 12px;
  width: 100%;
  color: #fff;
}

.footer__item-content-list li{
  margin-bottom: 20px;
}

.footer__twitter-user,
.footer__twitter-timeline,
.footer__twitter-link {
  color: #f3b29d;
}

.footer__about {
  padding-right: 25px;
}

.footer__twitter-widget {
 padding-right: 30px;
}

.footer__twitter-widget a {
  color: #fff;
}

.footer__twitter-timeline {
  display: block;
  margin-top: 8px;
}

.footer__contacts {
  padding-right: 25px;
}
.footer__contacts-text {
  margin-bottom: 16px;
}

.footer__contacts-info {
  margin-bottom: 18px;
}

.footer__contacts-socials {
  display: flex;
}

.socials__icon {
  margin-right: 10px;
}

.socials__icon:last-child {
  margin-right: 0;
}

