@font-face {
  font-family: 'Bebas';
  src: url('../fonts/Bebas.woff2') format('woff2'),
  url('../fonts/Bebas.woff') format('woff'),
  url('../fonts/Bebas.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.ul-default {
  list-style: none;
  margin: 0;
  padding: 0;
}

.color-black {
  color: #000;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

/*  Header  */

.header {
  background-image: url("../images/bg.png");
}

.header__inner {
  display: flex;
  height: 80px;
  justify-content: space-between;
  font-family: 'Bebas', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.header__logo {
  align-self: center;
}

.header__menu {
  padding-top: 35px;
}


.logo__link {
  font-size: 36px;
  text-transform: uppercase;
  color: #f3af9d;
}

.logo__link > span {
  color: #e8603c;
}

.logo_img {
  width: 87px;
  height: 34px;
}

.menu__item {
  display: inline-block;
  margin-left: 26px;
}

.menu__item:first-child {
  margin-left: 0;
}

.menu__link {
  font-size: 16px;
  text-transform: uppercase;
  color: #b9b9b9;
  transition: color .3s;
}

.menu__link:hover {
  color: #e8603c;
}